<footer class="container-fluid">
    <div class="row py-3 d-flex justify-content-center">
        <div class="col-auto">
            <nav class="nav">
                <a href="#" (click)="onClickHome()" class="nav-link mr-2 text-white"><b>Home</b></a>                
                <a class="nav-link mr-2 text-white" (click)="scrollTo('sectionProducts')"><b>Product</b></a> 
                <a class="nav-link text-white" (click)="scrollTo('sectionContacts')"><b>Contact</b></a>                               
            </nav>
        </div>
        <div class="col-12 text-center text-muted">
            <p><b><i class="fa fa-copyright"></i>&copy; Copyright 2021 - OTTO & SOHN USA INC. - All rights reserved.</b></p>
        </div>
    </div>       
</footer>