<div class="container-fluid gallery">
    <div class="row">
        <div class="col-12 text-center" *ngIf="gallery == null">
            <img [src]="_ruta+'assets/images/resources/loading.gif'" alt="Cargando...." width="300px">
        </div>
        <div class="col-12 text-center" *ngIf="gallery != null">
            <h2 class="mt-4">{{gallery.name}}</h2>
            <a href="#" class="btn btn-outline-danger">
                <b>Online Shop <i class="bi bi-cart4"></i></b>
            </a>
            <!--
            <a [href]="buyURL" target="_blank" class="btn btn-outline-danger">
                <b>Buy <i class="bi bi-cart4"></i></b>
            </a>
            -->
        </div>
        <div class="col-12 d-flex mt-4" *ngIf="gallery != null">
            <div class="row w-100 mx-3">     
                <div class="col-auto">
                    <div class="card-columns">
                        <div class="card" *ngFor="let image of gallery.images; let i = index">
                            <a class="thumbnail" style="cursor: pointer;" (click)="galleryModal(image, modal)">
                                <img class="img-thumbnail" [src]="_ruta+'assets/images/products/'+image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>            

            <ng-template #modal let-modal>
                <div class="modal-header">
                    <button class="btn close" (click)="closeModal()" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <img [src]="_ruta+'assets/images/products/'+image" [alt]="image" class="card-img-top img-fluid">
                    </div>
                </div>
            </ng-template>           
        </div>
    </div>
</div>