<div class="row d-flex justify-content-center mx-3 products">
    <div class="col-12 text-center">
        <h2 class="m-0">Products</h2>
        <p>We are a wholesaler for glass/wood doors and the appropriate hardware.</p>
    </div>
    <div class="col-12 my-3 mx-1 mx-md-4" style="max-width: 1200px;">
        <h3 class="text-primary">Pivot Glass Doors</h3>
        <p class="text-justify" style="font-size: 20px;">
            A pivot or swing door has special double-action hinges that allow it to open either outwards or inwards, and is usually sprung to keep it closed. This door can be easily opened without the use of hands and is characterized by its easy installation.
            <br/><br/>
            Pivot doors are a simple solution to replace a wooden door, therefore they are supplied with the ideal hinges that fit into a standard door opening or any ordinary door frame.
            <br/><br/>
            Whether for living room, dining room, bathroom or kitchen we have the perfect swing door for you. We offer complete solutions that are tailored to your project so please contact us for professional advice.                                                 
        </p>
        <img [src]="_ruta+'assets/images/products/PD-0001.jpg'" alt="Image" class="img img-fluid">
        <br>
        <a [routerLink]="['/gallery', 'Pivot Glass Doors']" class="btn btn-outline-dark">Show more</a>
    </div>
    <hr>
    <div class="col-12 my-3 mx-1 mx-md-4" style="max-width: 1200px;">
        <h3 class="text-primary">Hinged Doors</h3>
        <p class="text-justify" style="font-size: 20px;">
            A hinged door is a door whose door leaf is “hinged” (fixed) on one side to allow the door to pivot away from the doorway in one direction, but not the other. This type of door is the most commonly used.
            <br/><br/>
            Our hinged doors are a perfect choice of design characterised by contemporary style and understated elegance.
            <br/><br/>
            On request we also supply the matching solid wood door frame. We offer the following solid wood types: pine, oak, mahogany and most standard tropical woods. Please contact us for a quote or if you have any further questions.
        </p>
        <img [src]="_ruta+'assets/images/products/HGD-HH-0006.jpg'" alt="Image" class="img img-fluid">
        <br>
        <a [routerLink]="['/gallery', 'Hinged Doors']" class="btn btn-outline-dark">Show more</a>
    </div>
    <hr>
    <div class="col-12 my-3 mx-1 mx-md-4" style="max-width: 1200px;">
        <h3 class="text-primary">Sliding Barn Doors</h3>
        <p class="text-justify" style="font-size: 20px;">
            A sliding barn door is a type of door which opens horizontally by sliding, usually parallel to a wall. The mechanism used to operate a sliding door is called sliding door system. The combination of glass or wood door and elegant sliding system will set new accents in your living space!
            <br/><br/>
            Our closed sliding system ALU100 contains a stylish screen which covers the upper, aluminum guide rail. The open V1000/ 2000 Euro Sliders offer a clear view of the stainless steel door suspension. With both options, the colour of the door handle harmonises perfectly with the suspension. Choose between a recessed grip handle or handle bar for convenient operation.                        
        </p>
        <img [src]="_ruta+'assets/images/products/WMD-0101.jpg'" alt="Image" class="img img-fluid">
        <br>
        <a [routerLink]="['/gallery', 'Sliding Barn Doors']" class="btn btn-outline-dark">Show more</a>
    </div>
    <hr>
    <div class="col-12 my-3 mx-1 mx-md-4" style="max-width: 1200px;">
        <h3 class="text-primary">Pocket Doors</h3>
        <p class="text-justify" style="font-size: 20px;">
            A pocket door system allows your room door to elegantly slide into the wall and thus ensures open passages between your living spaces. The sliding rail for a pocket door is mounted between two walls. If the door is open, it is invisible because it is pushed into the gap between the walls.
            <br/><br/>
            Give your living space a modern flair by replacing your old wooden pocket door with a new, elegant glass pocket door.
            <br/><br/>
            Choose between a recessed grip handle or handle bar for convenient operation.
        </p>
        <img [src]="_ruta+'assets/images/products/PSGD-0200.jpg'" alt="Image" class="img img-fluid">
        <br>
        <a [routerLink]="['/gallery', 'Pocket Doors']" class="btn btn-outline-dark">Show more</a>
    </div>
    <hr>
    <div class="col-12 my-3 mx-1 mx-md-4" style="max-width: 1200px;">
        <h3 class="text-primary">Bypass Sliding Closet Doors</h3>
        <p class="text-justify" style="font-size: 20px;">
            Sliding closet bypass doors are generally mounted in pairs, with the bypass system allowing the doors to be moved in front of and behind each other to save space and allow access to the inside of your cabinet. If 2 door-leafs are not enough for your closet, you can extend it up to 4 door-leafs with a matching bypass sliding system.
            <br/><br/>
            With all our closet doors you have the choice between clear or mirror glass which can be additionally finished with your desired design. Ideal for use in bedrooms, children or dressing rooms.                        
        </p>
        <img [src]="_ruta+'assets/images/products/2-Leaf-Bypass-Sliding-Closet-Door-with-Mirror-Insert-72-CWD-0003.jpg'" alt="Image" class="img img-fluid">
        <br>
        <a [routerLink]="['/gallery', 'Bypass Sliding Closet Doors']" class="btn btn-outline-dark">Show more</a>
    </div>
    <hr>
    <div class="col-12 my-3 mx-1 mx-md-4" style="max-width: 1200px;">
        <h3 class="text-primary">Frameless Glass Shower Screen</h3>
        <p class="text-justify" style="font-size: 20px;">
            Shower doors or shower screens made of glass are used to protect the bathroom from splashing water and are an attractive solution to to replace conventional shower curtains. A floor-level glass shower is easy to install and is nowadays the focal point of a modern bathroom.
            <br/><br/>
            Our clear glass or sandblasted shower doors are not only visually appealing, they are also manufactured with high quality and easy to clean. Let yourself be inspired by the selection of our shower doors and choose the right model depending on room availability and personal requirements. Should you have any questions, we are happy to provide you with professional advice.
        </p>
        <img [src]="_ruta+'assets/images/products/Frameless-Fixed-Shower-Glass-Panel-FSS-0001.jpg'" alt="Image" class="img img-fluid">
        <br>
        <a [routerLink]="['/gallery', 'Frameless Glass Shower Screen']" class="btn btn-outline-dark">Show more</a>
    </div>
    <hr>
    <div class="col-12 mx-1 mx-md-4" style="max-width: 1200px;">
        <h3 class="text-primary">All our glass doors comes in 3 different privacy option</h3>                    
    </div>
    <hr>
</div>